SECRET_KEY=
DEBUG=True
DB_NAME=GradPathV2
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
ANTHROPIC_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
